
.e2e-wrapper {
    :global {
        .ant-tabs-bar {
            margin: 0;
            padding-top: 15px;
            background: #fff;
        }
    }
}
.tab-pane-wrapper {
    overflow: hidden;
    padding: 15px 0;
    background: #fff;
}
.end-wrapper {
    margin: 0 15px ;
    background: #fff;
    border: 1px solid #e9e9e9;
    .user-info {
        line-height: 40px;
        background: #fafafa;
        padding-left: 15px;
        font-size: 16px;
        font-weight: bold;
    }
}

.no-data-placeholder {
    width: 100%;
    height: 191px;
    background: url('../../assets/no-data-placeholder.png') no-repeat;
    background-position: center;
    background-size: 40%;

    padding: 5px 15px;
    position: relative;
}
.no-data-text {
    background: #fff;
    padding: 3px 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    color: #333;
}
.chart-title {
    color: #333;
}